@charset "utf-8";

.border-radius {
	margin: 0 auto 20px;
	width: 400px; height: 250px;
	background: #F5F5F5;
	border: 1px solid #CCC;
	border-radius: 4px;
	line-height: 250px;
	text-align: center;
}

.border-radius2 {
	border-radius: 4px 10px 6px 23px;
}

.border-radius3 {
	height: 400px;
	border-radius: 50%;
}

.box-shadow {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.32);
}

.box-shadow2 {
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.32);
}

.box-shadow3 {
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.32), -2px -2px 10px #F00, 6px 6px 10px #00F;
}

.boudle-line {
	margin: 40px 0;
	padding: 0 0 10px 10px;
	width: 400px;
	border-bottom: 1px solid #0F0;
	box-shadow: 0 1px 0 #F00;
}

.text-shadow {
	margin: 20px 0;
	padding: 8px;
	width: 400px;
	background: #333;
	border-radius: 4px;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.gradient {
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #ff00ff 15%, #0000ff 33%, #00ffff 48%, #00ff00 67%, #ffff00 84%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(15%,#ff00ff), color-stop(33%,#0000ff), color-stop(48%,#00ffff), color-stop(67%,#00ff00), color-stop(84%,#ffff00), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#ff00ff 15%,#0000ff 33%,#00ffff 48%,#00ff00 67%,#ffff00 84%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#ff00ff 15%,#0000ff 33%,#00ffff 48%,#00ff00 67%,#ffff00 84%,#ff0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#ff00ff 15%,#0000ff 33%,#00ffff 48%,#00ff00 67%,#ffff00 84%,#ff0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#ff00ff 15%,#0000ff 33%,#00ffff 48%,#00ff00 67%,#ffff00 84%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	font-size: 26px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.32);
}

.background-size1 {
	width: 320px; height: 160px;
	background: url(../img/bg@2x.gif) no-repeat center center;
	-moz-background-size: 320px auto;
	-webkit-background-size: 320px auto;
	-o-background-size: 320px auto;
	-ms-background-size: 320px auto;
	background-size: 320px auto;
}

.background-size2 {
	width: 320px; height: 160px;
	-moz-background-size: 320px auto;
	-webkit-background-size: 320px auto;
	-o-background-size: 320px auto;
	-ms-background-size: 320px auto;
	background-size: 320px auto;
	background: url(../img/bg@2x.gif) no-repeat center center;
}

.w400 {
	width: 400px;
	border-bottom: 1px dashed #000;
}

.no, .box-sizing {
	margin: 10px 0;
	width: 400px;
	border: 1px solid #000;
	padding: 50px;
}

.w298 {
	width: 298px;
}

.box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing:  border-box;
	-ms-box-sizing:  border-box;
	box-sizing: border-box;
}

.flex-box ul {
	margin: 10px 0; padding: 5px 8px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #CCC;
	list-style: none;
}

.flex-box ul li a {
	width: 100%; height: 100%;
	display: block;
	background: #999;
	color: #111;
	text-align: center;
}

.flex-box1 ul li a {
	padding: 0 8px;
}

.flex-box2 ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

.flex-box3 ul li {
	background: #999;
}

.menu ul {
	margin: 10px 0;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .75);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}

.menu ul li {
	height: 32px;
	border-right: 1px solid #000000;
	border-left: 1px solid #45484d;
	line-height: 32px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
}

.menu ul li:first-child {
	border-left: none;
}

.menu ul li:last-child {
	border-right: none;	
}

.menu ul li a {
	display: block;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

.menu ul li a:hover {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#45484d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
}

.menu ul li:first-child a {
	border-radius: 4px 0 0 4px;
}

.menu ul li:last-child a {
	border-radius: 0 4px 4px 0;
}

.appearance {
	list-style: none;
}

.appearance li {
	margin-bottom: 5px;
}

.a-button {
	-moz-appearance: button;
	-webkit-appearance: button;
	-o-appearance: button;
	-ms-appearance: button;
	appearance: button;
}

.a-checkbox {
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
	-o-appearance: checkbox;
	-ms-appearance: checkbox;
	appearance: checkbox;
	text-indent: 1em;
}

.a-none {
	margin: 20px 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: button;
	background: #eab92d; /* Old browsers */
	background: -moz-linear-gradient(top,  #eab92d 0%, #c79810 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab92d), color-stop(100%,#c79810)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eab92d 0%,#c79810 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
	border: 1px solid #960;
	border-radius: 4px;
	color: #400000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .23);
}
